body {
    background-image: url(Untitled-8-01.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}


#canvas {
    width: 65vw;
    /* 474px; */
    height: 100vh;
    /* 707px; */
    display: block;
    margin: -1.132vh auto 2vh auto;
    background-image: url(jungle-image.jpg);
    background-size: 180% 100%;
    background-position: 27%;
    background-repeat: no-repeat center;
    overflow: hidden;
}