body {
    background-image: url(images/Untitled-8-01.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 124%;
    display: block;
}


#canvas {
    display: none;
    width: 70vw;
    /* 474px; */
    height: 100vh;
    /* 707px; */
    display: block;
    margin: -1.132vh auto 2vh auto;
    background-image: url(images/jungle-image.jpg);
    background-size: 180% 100%;
    background-position: 27%;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 5px 3px 10px 7px rgb(255, 255, 255),
        0px 0px 0px 0px,
        -5px -3px 10px 7px rgb(255, 255, 255);
    position: relative;

}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.wrapper>.start {
    width: 20vw;
    height: 20vh;
    background-color: greenyellow;
    position: absolute;
    left: 40vw;
    top: 35vh;
    border-radius: 70%;
}